@import "../index.scss";

@keyframes item-appear {
  from {
    height: 0.1rem;
  }
  to {
    height: 2.1rem;
  }
}

@keyframes item-disappear {
  from {
    height: 2.1rem;
  }
  to {
    height: 0.1rem;
  }
}

.todo-comp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fed469, #ffb985);

  .logout-container {
    margin: 1rem;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 23px;
    display: flex;
    align-items: center;
    .name {
      font-size: 1.2rem;
      margin-right: 1rem;
    }
    button {
      height: 2rem;
      width: 5rem;
      font-weight: bold;
      color: $white;
      background-color: $red;
      border: none;
      border-radius: 0.3rem;
    }
  }

  .todo-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: $white;
  }

  .todo-container {
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;

    .new-item-container {
      input {
        width: 11rem;
        height: 2.8rem;
        margin-left: 0.5rem;
      }
      .new-item {
        color: $white;
        background-color: $red;
        padding: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
        align-self: center;
        margin-left: 0.5rem;
        width: 2rem;
        border: none;
      }
    }

    .todo-list-container {
      margin-top: 2rem;
      width: 40rem;

      .todo-list-item {
        padding-top: 0.2rem;
        display: flex;
        flex-direction: row;
        height: 2.1rem;
        animation-name: item-appear;
        animation-duration: 0.5s;

        .text-container {
          background-color: $white;
          width: -webkit-fill-available;
          padding: 0.2rem 0.5rem;

          display: grid;
          grid-template-columns: 25% 25% 25% 25%;

          .item {
            margin: 0rem, 5rem;
            animation-name: item-appear;
            animation-duration: 0.5s;
          }
          .fileItem {
            text-decoration: underline;
            color: $red;
            cursor: pointer;
          }
        }
        .item-checked {
          text-decoration: line-through;
          opacity: 0.5;
        }

        .done-button {
          color: $white;
          background-color: $green;
          padding: 0.5rem;
          font-size: 1rem;
          cursor: pointer;
          align-self: center;
        }

        .delete-button {
          color: $white;
          background-color: $red;
          padding: 0.5rem 0.6rem;
          font-size: 1rem;
          cursor: pointer;
          align-self: center;
        }
      }
    }
  }
}
